{% extends 'shared/sidebar.html' %}
{% load static %}

{% block title %}HigherStudiesPortal | Upload Admission Letter {% endblock %}
{% block head %}
    <link rel= "stylesheet" href="{% static 'css/cc1.css' %}" />
    <script src="{% static 'js/cc1.js' %}"></script>
{% endblock %}

{% block page_content %}
    <!-- Main Content -->
    <div class="upload-container">
        <h2>Upload Documents</h2>
        
        <!-- <label>Admit Card (PDF, Max 2MB)</label>
        <input type="file" id="admitCard" class="file-input" accept=".pdf">
        <div id="errorAdmit" class="error"></div> -->
        <div class="input-group">
            <label for="university_name">Univesity Name</label>
            <input type="text" id="university_name" name="university_name" required>
        </div>
    
        <div class="input-group">
            <label for="program_name">Program Name</label>
            <input type="text" id="program_name" name="program_name" required>
        </div>
    
        <div class="input-group">
            <label for="admission_date">Admission Date</label>
            <input type="date" id="admission_date" name="admission_date" required>
        </div>
    
        <label>Admission Letter (PDF, Max 2MB)</label>
        <input type="file" id="admissionLetter" class="file-input" accept=".pdf">
        <div id="errorAdmission" class="error"></div>
    
        <button id="uploadBtn" class="upload-btn" disabled>Upload Files</button>
    </div>
{% endblock %}