{% extends 'shared/sidebar.html' %}
{% block title %}HigherStudiesPortal | Student Dashboard {% endblock %}

{% load static %}
{% block page_content %}
    <div class="content">
        <div class="header">
            <!-- <img src="logo.png" alt="SSN Logo"> -->
            <h2 class="heading1" >Higher Studies Portal</h2>
            <span>user</span>
        </div>
        <h1>Welcome to the Higher Studies Portal</h1>
        <p>Select an option from the menu to proceed.</p>
    </div>

{% endblock %}