# Environment variables

# Database parameters
dbname=
user=
password=
port=
# host is SUPABASE_URL without https://
host=

# Supabase parameters
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_BUCKET_NAME=