{% extends 'shared/sidebar.html' %}
{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher Studies Portal</title>
    <link rel= "stylesheet" href="{% static 'css/common_css.css' %}" /> 
</head> -->
<!-- <body>
    <div class="sidebar">
        {% load static %}
        <img class="image" src="{% static 'images/ssn.png' %}" alt="SSN Logo">
        <ul>
            <li><a href="{% url 'faculty_dashboard' %}" style="text-decoration: none; color: white">Dashboard</a></li>
            <li><a href="f_student_list.html" style="text-decoration: none; color: white"> Student Details</a></li>
            <li><a href="f_verify.html" style="text-decoration: none; color: white"> Verify </a></li>
        </ul>
    </div> -->

{% block page_content %}
    <div class="content">
        <div class="header">
            <!-- <img src="logo.png" alt="SSN Logo"> -->
            <h2 class="heading1" >Higher Studies Portal</h2>
            <span>user</span>
        </div>
        <h1>Welcome to the Higher Studies Portal</h1>
        <p>Select an option from the menu to proceed.</p>
    </div>
{% endblock %}

<!-- </body>
</html> -->
