* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    height: 100vh;
    background-color: white;
}

/* Sidebar Styling */
/* 
.sidebar {
    width: 250px;
    background-color: #003C88;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar img {
width: 100%; 
max-width: 200px;
display: block;
margin: 0 auto; 
}

.sidebar ul{
    list-style-type: none;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
*/

/* Main Content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    top: 10%;
    font-size: 70px;
}

/* Apply Button */
.apply-btn {
    background-color: #003C88;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-btn:hover {
    background-color: #003C88;
}

.upload-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: calc(50% + 100px); 
    transform: translate(-50%, -50%);
}

.file-input {
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 12px;
}

.upload-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.upload-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
