{% extends 'base.html' %}
{% load static %}

{% block title%} HigherStudiesPortal | Login {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginpage.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="form-wrapper sign-in">
            <form method="POST" action ="{% url 'login' %}">
            {% csrf_token %}
                <h2>Login</h2>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </div>
            <button type="submit">Login</button>
        </form>
            <div class="signUp-link">
                <p>Don't have an account ? <a href="{% url 'sign-up' %}" class="signUpBtn-link">Sign Up </a></a></p>
            </div>
        </div>
    </div>
{% endblock %}